body{
    background-color: #2B3384;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.container{
    background-color: #f1f1f1;
    margin: 30px;
    width: 100%;
    height: 80vh;
    padding: 45px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: space-around;
}

section{
    padding: 15px;
    height: 60vh;
    width: 80%;
}

main{
    display: flex;
    gap: 15px;
    height: 300px;
}

h1{
    color: #2B3384;    
    font-weight:900;
    position: fixed;
    top: 20%;
    left: 10%;
}

label{
    color: #2B3384;
    font-weight: 200;
}

a:hover, .btn-submit:hover{
    background-color: #f1f1f1;
    text-decoration: none;
    color: #000D9D;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.row{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 350px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.column{
    top: 30%;
    left: 8%;
    gap: 15px;
}

.btn-submit, a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000D9D;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    color: #f1f1f1;
    cursor: pointer;
    font-size: 14px;
    height: 48px;
    text-align: center;
    letter-spacing: .25px;
    padding: 2px 24px;
    font-weight: bold;
}

tbody{
    overflow: scroll;
    display: fixed;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

thead{
    display: fixed;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

th{
   color: #000D9D;
   width: 60px;
   height: 0px;
}

td{
    color: #000D9D;
    height: 50px;
}

input{
    width: 210px;
}

.buttons{
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

svg{
    width: 40px;
    height: 40px;
}

.action{
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

i{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
}

.icon{
    align-content: center;
    justify-content: center;
}

.select{
    width: 100px;
    background: #000D9D;
    color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #000D9D solid;
    box-shadow: 0 0 0.8em #000D9D;
}

.select:hover{
    background: #f1f1f1;
    color: #000D9D;
    
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #f1f1f1;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform:  translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu:hover{
    background: #2a2d35;
}

.active{
    background:#23242a;
}

.menu-open{
    display: block;
    opacity: 1;
}